@import "tailwindcss";

:root {
  --background: #fbf2dd;
  --foreground: #241209;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-italiana: var(--font-italiana);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #241209;
    --foreground: #FBF2DD;
  }
} */

body,html,#root {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}
