@import "tailwindcss";

:root {
  --background: #fbf2dd;
  --foreground: #241209;
  --button: #A37A4B; 
}

@theme inline {
  /* color */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button: var(--button);

  /* font */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-italiana: var(--font-italiana);
  --font-poppins: var(--font-poppins);

  /* screen */
  --breakpoint-lg: 1160px;
  --breakpoint-md: 970px;
  --breakpoint-sm: 675px;
  --breakpoint-xs: 485px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #241209;
    --foreground: #FBF2DD;
  }
} */

body,
html,
#root {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  width: 100%;
  height: 100%;
}
